// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  a{
  font-size: xx-large;
  color: #337ab7;
    &:hover{
      color :#23527c;
    }
  }
  i{
    font-size: medium;
    color: #337ab7;
    &:hover{
      color :#23527c;
    }
  }
}
